$darkmode: true;
$primary: #4dd9e5;
$onPrimary: #00363b;
$primaryContainer: #004f56;
$onPrimaryContainer: #78f4ff;
$secondary: #b1cbce;
$onSecondary: #1c3437;
$secondaryContainer: #334b4e;
$onSecondaryContainer: #cce7ea;
$tertiary: #b8c7ea;
$onTertiary: #21304c;
$tertiaryContainer: #384764;
$onTertiaryContainer: #d6e2ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1010;
$background: #0F1010;
$onBackground: #e0e3e3;
$surface: #191c1c;
$onSurface: #e0e3e3;
$surfaceVariant: #3f494a;
$onSurfaceVariant: #bfc8c9;
$outline: #899394;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2e3131;
$inversePrimary: #006971;
