$darkmode: true;
$primary: #ffb776;
$onPrimary: #4d2700;
$primaryContainer: #6d3900;
$onPrimaryContainer: #ffdcbf;
$secondary: #e3c0a5;
$onSecondary: #412c19;
$secondaryContainer: #5a422e;
$onSecondaryContainer: #ffdcc1;
$tertiary: #c3cb97;
$onTertiary: #2d330e;
$tertiaryContainer: #434a22;
$onTertiaryContainer: #e0e8b1;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0D;
$background: #130F0D;
$onBackground: #ebe0d9;
$surface: #201a16;
$onSurface: #ebe0d9;
$surfaceVariant: #51443a;
$onSurfaceVariant: #d6c3b6;
$outline: #9e8d81;
$shadow: #000000;
$inverseSurface: #ebe0d9;
$inverseOnSurface: #352f2b;
$inversePrimary: #8f4e00;
