$darkmode: true;
$primary: #cfcb55;
$onPrimary: #343200;
$primaryContainer: #4b4900;
$onPrimaryContainer: #ebe76d;
$secondary: #cbc8a4;
$onSecondary: #323118;
$secondaryContainer: #49482d;
$onSecondaryContainer: #e8e4bf;
$tertiary: #a4d0bb;
$onTertiary: #0d3729;
$tertiaryContainer: #264e3f;
$onTertiaryContainer: #c0edd7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #10100D;
$background: #10100D;
$onBackground: #e6e2da;
$surface: #1c1c16;
$onSurface: #e6e2da;
$surfaceVariant: #48473a;
$onSurfaceVariant: #cac7b5;
$outline: #939181;
$shadow: #000000;
$inverseSurface: #e6e2da;
$inverseOnSurface: #31302b;
$inversePrimary: #636100;
