$darkmode: true;
$primary: #5adbc1;
$onPrimary: #00382e;
$primaryContainer: #005143;
$onPrimaryContainer: #78f8dc;
$secondary: #b1cdc4;
$onSecondary: #1c352f;
$secondaryContainer: #334b45;
$onSecondaryContainer: #cce8df;
$tertiary: #abcbe4;
$onTertiary: #113347;
$tertiaryContainer: #2a4a5f;
$onTertiaryContainer: #c7e6ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1010;
$background: #0F1010;
$onBackground: #e1e3e1;
$surface: #191c1b;
$onSurface: #e1e3e1;
$surfaceVariant: #3f4946;
$onSurfaceVariant: #bfc9c5;
$outline: #88938f;
$shadow: #000000;
$inverseSurface: #e1e3e1;
$inverseOnSurface: #2e3130;
$inversePrimary: #006b5a;
