@use 'sass:color';
@use './material';
@use './lib_mixins';

// * {
//     border: 1px solid material.$onSurfaceVariant; // Debugging
// }

/* *:focus { */
/*     outline: 1px solid color.mix(material.$onSurface, material.$surface, 40%); */
/*     -gtk-outline-radius: material.$rounding_small; */
/* } */

* {
    selection {
        background-color: material.$secondary;
        color: material.$onSecondary;
    }

    caret-color: material.$primary;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

menu {
    @include lib_mixins.elevation-border-softer;
    padding: 0.681rem;
    background: material.$surfaceVariant;
    color: material.$onSurfaceVariant;
    border-radius: 1.159rem;
    -gtk-outline-radius: 1.159rem;

    animation-name: appear;
    animation-duration: 40ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

menubar>menuitem {
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
    min-width: 13.636rem;
    min-height: 2.727rem;
}

menu>menuitem {
    padding: 0.4em 1.5rem;
    background: transparent;
    transition: 0.2s ease background;
    border-radius: 0.545rem;
    -gtk-outline-radius: 0.545rem;
}

menu>menuitem:hover,
menu>menuitem:focus {
    background-color: color.mix(material.$surfaceVariant, material.$onSurfaceVariant, 90%);
}

menu>menuitem:active {
    background-color: color.mix(material.$surfaceVariant, material.$onSurfaceVariant, 80%);
}

radio {
    @include lib_mixins.full-rounding;
    margin: 0.273rem;
    min-width: 15px;
    min-height: 15px;
    border: 0.068rem solid material.$outline;
}

// radio:first-child {
//     background-color: red;
// }

radio:checked {
    min-width: 8px;
    min-height: 8px;
    background-color: material.$onPrimary;
    border: 0.477rem solid material.$primary;
}

tooltip {
    animation-name: appear;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    @include lib_mixins.normal-rounding;
    background-color: material.$surfaceVariant;
    color: material.$onSurfaceVariant;
    border: 1px solid material.$onSurfaceVariant;
}

/////////////////////////////////////////
// Emoji Chooser structure
// popover
// ├── box.emoji-searchbar
// │   ╰── entry.search
// ╰── box.emoji-toolbar
//     ├── button.image-button.emoji-section
//     ├── ...
//     ╰── button.image-button.emoji-section

popover {
    @include lib_mixins.elevation-border-softer;
    padding: 0.681rem;
    background: material.$surfaceVariant;
    color: material.$onSurfaceVariant;
    border-radius: 1.159rem;
    -gtk-outline-radius: 1.159rem;

    animation-name: appear;
    animation-duration: 40ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}


/////////////////////////////////////////

.configtoggle-box {
    padding: 0.205rem 0.341rem;
    border: 0.136rem solid transparent;
}

.configtoggle-box:focus {
    border: 0.136rem solid color.mix(material.$onSurface, material.$surface, 40%);
}

.switch-bg {
    @include lib_mixins.element_decel;
    @include lib_mixins.full-rounding;
    background-color: color.mix(material.$surface, material.$background, 50%);
    border: 0.136rem solid material.$onSurface;
    min-width: 2.864rem;
    min-height: 1.637rem;
}

.switch-bg-true {
    background-color: material.$primary;
    border: 0.136rem solid material.$primary;
}

.switch-fg {
    @include lib_mixins.full-rounding;
    @include lib_mixins.menu_decel;
    background-color: material.$onSurface;
    color: material.$surface;
    min-width: 0.819rem;
    min-height: 0.819rem;
    margin-left: 0.477rem;
}

.switch-fg-true {
    background-color: material.$onPrimary;
    color: material.$primary;
    min-width: 1.431rem;
    min-height: 1.431rem;
    margin-left: 1.431rem;
}

.switch-fg-toggling-false {
    @include lib_mixins.menu_decel;
    min-width: 1.636rem;
    min-height: 0.819rem;
}

.segment-container {
    @include lib_mixins.full-rounding;
    border: 0.068rem solid material.$outline;
}

.segment-container>*:first-child {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.segment-container>* {
    border-right: 0.068rem solid material.$outline;
    padding: 0.341rem 0.682rem;
}

.segment-container>*:last-child {
    border-right: 0rem solid transparent;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.segment-btn {
    color: material.$onSurface;
}

.segment-btn:focus,
.segment-btn:hover {
    background-color: material.$hovercolor;
}

.segment-btn-enabled {
    background-color: material.$secondaryContainer;
    color: material.$onSecondaryContainer;
}

.segment-btn-enabled:hover,
.segment-btn-enabled:focus {
    background-color: material.$secondaryContainer;
    color: material.$onSecondaryContainer;
}

.gap-v-5 {
    min-height: 0.341rem;
}

.gap-h-5 {
    min-width: 0.341rem;
}

.gap-v-10 {
    min-height: 0.682rem;
}

.gap-h-10 {
    min-width: 0.682rem;
}

.gap-v-15 {
    min-height: 1.023rem;
}

.gap-h-15 {
    min-width: 1.023rem;
}
