@use 'sass:color';
@use 'lib_mixins';
@use 'material';

.dock-bg {
    @include lib_mixins.small-rounding;
    @include lib_mixins.elevation2;
    background-color: material.$t_background;
    padding: 0.682rem;
}

.dock-app-btn {
    @include lib_mixins.normal-rounding;
    padding: 0.273rem;
}

.dock-app-btn:hover,
.dock-app-btn:focus {
    background-color: color.mix(material.$t_surface, material.$t_onSurface, 95%);
}

.dock-app-btn:active {
    background-color: color.mix(material.$t_surface, material.$t_onSurface, 85%);
}

.dock-app-icon {
    min-width: 3.409rem;
    min-height: 3.409rem;
    font-size: 3.409rem;
}

.dock-separator {
    min-width: 0.068rem;
    background-color: material.$surfaceVariant;
}
