$darkmode: true;
$primary: #b8c3ff;
$onPrimary: #001f91;
$primaryContainer: #002fc8;
$onPrimaryContainer: #dde1ff;
$secondary: #c3c5dd;
$onSecondary: #2c2f41;
$secondaryContainer: #434659;
$onSecondaryContainer: #dfe1fa;
$tertiary: #e5bad8;
$onTertiary: #44263e;
$tertiaryContainer: #5d3c55;
$onTertiaryContainer: #ffd6f4;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #45464f;
$onSurfaceVariant: #c6c5cf;
$outline: #90909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #294de1;
