@use 'sass:color';
@use 'material';
@use 'lib_mixins';

$notif_surface: material.$t_background;

@mixin notif-rounding {
    @include lib_mixins.normal-rounding;
}

.notif-low {
    @include notif-rounding;
    background-color: material.$l_l_t_surfaceVariant;
    color: material.$onSurfaceVariant;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.notif-normal {
    @include notif-rounding;
    background-color: material.$l_l_t_surfaceVariant;
    color: material.$onSurfaceVariant;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.notif-critical {
    @include notif-rounding;
    background-color: material.$secondaryContainer;
    color: material.$onSecondaryContainer;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.notif-clicked-low {
    background-color: color.mix(material.$l_l_t_surfaceVariant, material.$t_onSurfaceVariant, 85%);
}

.notif-clicked-normal {
    background-color: color.mix(material.$l_l_t_surfaceVariant, material.$t_onSurfaceVariant, 85%);
}

.notif-clicked-critical {
    background-color: color.mix(material.$secondaryContainer, material.$onSecondaryContainer, 95%);
}

.popup-notif-low {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: $notif_surface;
    color: material.$onSurfaceVariant;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.popup-notif-normal {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: $notif_surface;
    color: material.$onSurfaceVariant;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.popup-notif-critical {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: material.$secondaryContainer;
    color: material.$onSecondaryContainer;
    padding: lib_mixins.$rounding_small;
    padding-right: lib_mixins.$rounding_small + 0.545rem;
}

.popup-notif-clicked-low {
    background-color: color.mix($notif_surface, material.$onBackground, 94%);
}

.popup-notif-clicked-normal {
    background-color: color.mix($notif_surface, material.$onBackground, 94%);
}

.popup-notif-clicked-critical {
    background-color: color.mix(material.$secondaryContainer, material.$onSecondaryContainer, 96%);
}

.notif-body-low {
    color: color.mix(material.$onSurfaceVariant, material.$surfaceVariant, 67%);
}

.notif-body-normal {
    color: color.mix(material.$onSurfaceVariant, material.$surfaceVariant, 67%);
}

.notif-body-critical {
    color: color.mix(material.$onSecondaryContainer, material.$secondaryContainer, 67%);
}

.notif-icon {
    @include lib_mixins.full-rounding;
    min-width: 3.409rem;
    min-height: 3.409rem;
    font-size: 3.409rem;
}

.notif-icon-material {
    background-color: material.$t_secondaryContainer;
    color: material.$onSecondaryContainer;
}

.notif-icon-material-low {
    background-color: material.$t_secondaryContainer;
    color: material.$onSecondaryContainer;
}

.notif-icon-material-normal {
    background-color: material.$t_secondaryContainer;
    color: material.$onSecondaryContainer;
}

.notif-icon-material-critical {
    background-color: material.$t_onSecondaryContainer;
    color: material.$secondaryContainer;
}

.notif-expand-btn {
    @include notif-rounding;
    min-width: 1.841rem;
    min-height: 1.841rem;
}

.notif-expand-btn:hover,
.notif-expand-btn:focus {
    background: material.$hovercolor;
}

.notif-expand-btn:active {
    background: material.$activecolor;
}

.notif-listaction-btn {
    @include notif-rounding;
    padding: 0.341rem 0.682rem;
}

.notif-listaction-btn:hover,
.notif-listaction-btn:focus {
    background-color: material.$hovercolor;
}

.notif-listaction-btn:active {
    background-color: material.$activecolor;
}

.notif-listaction-btn-enabled {
    background-color: material.$secondaryContainer;
    color: material.$onSecondaryContainer;
}

.notif-listaction-btn-enabled:hover,
.notif-listaction-btn-enabled:focus {
    background-color: color.mix(material.$secondaryContainer, material.$onSecondaryContainer, 90%);
}

.notif-listaction-btn-enabled:active {
    background-color: color.mix(material.$secondaryContainer, material.$onSecondaryContainer, 75%);
}

.osd-notif {
    @include notif-rounding;
    background-color: color.adjust(material.$background,
            $alpha: -(material.$transparentize_surface_amount_subtract_surface) );
    min-width: 30.682rem;
}

.notif-circprog-low {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.136rem;
    padding: 0rem;
    color: material.$onSecondaryContainer;
}

.notif-circprog-normal {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.136rem;
    padding: 0rem;
    color: material.$onSecondaryContainer;
}

.notif-circprog-critical {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.136rem;
    padding: 0rem;
    color: material.$secondaryContainer;
}

.notif-actions {
    min-height: 2.045rem;
}

.notif-action {
    @include lib_mixins.small-rounding;
}

.notif-action-low {
    background-color: color.mix(material.$t_onSurfaceVariant, material.$t_surface, 10%);
    color: material.$onSurfaceVariant;
}

.notif-action-low:focus,
.notif-action-low:hover {
    background-color: material.$hovercolor;
}

.notif-action-low:active {
    background-color: material.$activecolor;
}

.notif-action-normal {
    background-color: color.mix(material.$t_onSurfaceVariant, material.$t_surface, 10%);
    color: material.$onSurfaceVariant;
}

.notif-action-normal:focus,
.notif-action-normal:hover {
    background-color: material.$hovercolor;
}

.notif-action-normal:active {
    background-color: material.$activecolor;
}

.notif-action-critical {
    background-color: color.mix(material.$t_onSecondaryContainer, material.$t_secondaryContainer, 10%);
    color: material.$onSurfaceVariant;
}

.notif-action-critical:focus,
.notif-action-critical:hover {
    background-color: color.mix(material.$t_onSecondaryContainer, material.$t_secondaryContainer, 18%);
}

.notif-action-critical:active {
    background-color: color.mix(material.$t_onSecondaryContainer, material.$t_secondaryContainer, 23%);
}
