@use './index'; // Use styles, mixins, etc., as needed
@use 'lib_mixins';

// Reset
// * {
//     all: unset;
// }
*:not(popover) { all: unset; }

window {
    background-color: transparent;
}

#launcher {
    background-color: transparent;
}

// Classes for interaction
.growingRadial {
    transition: 300ms cubic-bezier(0.2, 0.0, 0, 1.0);
}
.fadingRadial {
    transition: 50ms cubic-bezier(0.2, 0.0, 0, 1.0);
}
.sidebar-pinned {
    margin: 0rem;
    border-radius: 0rem;
    border-bottom-right-radius: lib_mixins.$rounding_large;
    border: 0rem solid;
}
