$darkmode: true;
$primary: #d8c950;
$onPrimary: #373100;
$primaryContainer: #504700;
$onPrimaryContainer: #f5e569;
$secondary: #cec7a3;
$onSecondary: #353117;
$secondaryContainer: #4b472b;
$onSecondaryContainer: #ebe3bd;
$tertiary: #a6d0b7;
$onTertiary: #113726;
$tertiaryContainer: #284e3b;
$onTertiaryContainer: #c2ecd2;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #11100D;
$background: #11100D;
$onBackground: #e7e2d9;
$surface: #1d1c16;
$onSurface: #e7e2d9;
$surfaceVariant: #4a473a;
$onSurfaceVariant: #cbc6b5;
$outline: #959181;
$shadow: #000000;
$inverseSurface: #e7e2d9;
$inverseOnSurface: #32302a;
$inversePrimary: #6a5f00;
